<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    {% include 'head.html' %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8"/>
    <title>Nextbook :: Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include 'menu.html' %}

    <div class="main-content">
        <div class="container-cadastro-login" style="margin-top: 100px;">
            <form method="post">
                {% csrf_token %}
                <div class="head">
                    <span>Cadastro</span>
                    {% if erro %}
                        <p style="color: #fff;">{{ erro }}</p>
                    {% endif %}
                </div>
                <div class="inputs">
                    <input type="text" id="username" name="username" placeholder="Usuário" required><br>
                    <input type="email" id="email" name="email" placeholder="E-mail" required><br>
                    <input type="password" id="password" name="password" placeholder="Senha" required><br>
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirmar Senha" required><br>
                </div>
                <button type="submit" style="margin-top: 10px;">Cadastrar</button>
            </form>
            <div class="form-footer">
                <p style="color:#000">Já possui uma conta? <a href="{% url 'login' %}">Faça login</a></p> 
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>
