<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    {% include 'head.html' %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias - NextBook</title>

</head>
<body>
    {% include 'menu.html' %}

    <div class="container">
        <h1>Categorias de Livros</h1>
        
        {% for categoria in categorias %}
        <div class="categoria-item">
            <h2>{{ categoria.nome }}</h2>
            <p>{{ categoria.descricao }}</p>
            <a href="{% url 'categoria_detalhes' categoria.id %}">Ver detalhes</a>
        </div>
        {% empty %}
        <p style="text-align: center; color: #999;">Nenhuma categoria encontrada.</p>
        {% endfor %}
    </div>

    {% include 'footer.html' %}
</body>
</html>
