{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="book-detail">
    <div class="book-cover">
        <img src="{{ livro.volumeInfo.imageLinks.thumbnail|default:'/static/imgs/book-placeholder.png' }}" 
             alt="{{ livro.volumeInfo.title }}"
             onerror="this.src='{% static 'imgs/book-placeholder.png' %}'">
    </div>
    <div class="book-info">
        <h1>{{ livro.volumeInfo.title }}</h1>
        <p class="author">por {{ livro.volumeInfo.authors|join:", " }}</p>
        <p class="description">{{ livro.volumeInfo.description }}</p>
        <!-- Adicione mais detalhes conforme necessário -->
    </div>
</div>
{% endblock %}