{% load static %}
<footer class="text-center text-lg-start score-watch-footer">
  <div class="container text-center text-md-start mt-5">
    <div class="row mt-3">
      <!-- Logo -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <h2 class="fw-bold mb-4">
          <a class="footer-brand" href="{% url 'home' %}">
            <img src="{% static 'imgs/Logo.png' %}" alt="Logo Nextbook" class="img-fluid" style="max-width: 180px;">
          </a>
        </h2>
      </div>

      <!-- Confira -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="fw-bold mb-4">Confira</h6>
        <p>
          <a href="{% url 'recomendacoes' %}" class="text-reset">Recomendações</a><br>
          <a href="{% url 'livros' %}" class="text-reset">Livros</a><br>
          <a href="{% url 'categorias' %}" class="text-reset">Categorias</a>
        </p>
      </div>

      <!-- Links úteis -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="fw-bold mb-4">Links úteis</h6>
        <p>
          <a href="{% url 'cadastro' %}" class="text-reset">Cadastre-se</a><br>
          <a href="{% url 'login' %}" class="text-reset">Login</a>
        </p>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="text-center p-4">
    Nextbook © 2025 - Todos os direitos reservados
  </div>
</footer>
