<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    {% include 'head.html' %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8"/>
    <title>NextBook :: Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include 'menu.html' %}

    <div class="container-cadastro-login">
        <form method="post">
            {% csrf_token %}
            <div class="head">
                <span>Entrar</span>
            </div>

            {% if erro %}
                <p class="erro-msg" style="text-align: center;">{{ erro }}</p>
            {% endif %}

            <div class="inputs">
                <input type="text" id="username" name="username" placeholder="Usuário" required>
                <input type="password" id="password" name="password" placeholder="Senha" required>
            </div>
            
            <button type="submit" style="margin-top: 10px;">Entrar</button>
        </form>

        <div class="form-footer">
            <p style="color:#fff">Não possui uma conta? <a href="{% url 'cadastro' %}">Cadastre-se</a></p> 
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>
