<!-- MENU -->
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'imgs/logo2.png' %}" alt="Logo" style="height: 40px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i style="color: #fff; font-size: 25px;" class="fa-solid fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Início</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'recomendacoes' %}">Recomendações</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'livros' %}">Livros</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'categorias' %}">Categorias</a> 
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'perfil' %}">Meu perfil</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a> 
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div id="loader">
    <div class="spinner-border text-white" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<style>
#loader {
    position: fixed;
    z-index: 9999;
    background: rgba(7, 6, 20, 0.7); /* Cor escura com leve transparência */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
            var loader = document.getElementById('loader');
            loader.style.display = 'none';
        }, 1000); // Delay de 1 segundo para esconder o loader
    });
</script>
