<!DOCTYPE html>
{% load static %}
<html>
<head>
    {% include 'head.html' %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8"/>
    <title>NextBook - {{ livro.titulo }}</title>
</head>
<body>
    {% include 'menu.html' %}
    <div style="background: radial-gradient(at 60% 20px, transparent 30%, rgba(21, 22, 22, 0.8) 55%, rgb(21, 22, 22) 100%) 100% 50% / cover, linear-gradient(transparent 80%, rgb(21, 22, 22) 100%), url({{ livro.imagem_url }}) no-repeat;
    background-position: 100% 50%; background-size: cover; margin-top: -60px;">
    
        <div class="bg-filtro">
            <div class="container-livro" style="margin-top: 60px;">
                <div class="banner-titulos">
                    <img src="{{ livro.capa }}" alt="{{ livro.titulo }}">
                </div>
                <div class="informacoes-titulos">
                    <h1>{{ livro.titulo }}</h1>
                    <p>{{ livro.sinopse }}</p>
                    <p><i class="fa-solid fa-book"></i> Autor: {{ livro.autor }}</p>
                    <p><i class="fa-solid fa-calendar"></i> Data de Publicação: {{ livro.data_publicacao }}</p>
                    <p><i class="fa-solid fa-tag"></i> Gênero: {{ livro.genero }}</p>
                    <p><i class="fa-solid fa-star"></i> Avaliação: {{ livro.avaliacao }} / 5</p>

                    <!-- Botão de favoritos -->
                    <form action="{% url 'toggle_favorito' livro.id %}" method="post" style="text-align: left; padding: 20px 0px;">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            {% if is_favorito %}
                                <i class="fa-solid fa-xmark"></i> Remover dos Favoritos
                            {% else %}
                                <i class="far fa-heart"></i> Adicionar aos Favoritos
                            {% endif %}
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="descricao">
            <h3>Descrição Completa:</h3>
            <p>{{ livro.descricao_completa }}</p>
        </div>

        <div class="barra-progresso">
            <p>Progresso de Leitura: {{ livro.progresso }}%</p>
            <div class="progresso" style="width: {{ livro.progresso }}%;"></div>
        </div>
    </div>  

    {% include 'footer.html' %}
</body>
</html>
